<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Direct Reports (IDs)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.hireDate }}</td>
            <td>{{ employee.directReports }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>